## Recuperation des images cropped

### Import images

In [22]:
import pandas as pd
import requests as req
import os.path
from datetime import datetime

### CSV file

In [23]:
df =pd.read_csv('../data/stars_classification_with_images.csv')

df = df[['obj_ID','alpha','delta', 'class']]

df

             obj_ID       alpha      delta   class
0      1.237680e+18  340.995121  20.589476     QSO
1      1.237679e+18   23.234926  11.418188     QSO
2      1.237679e+18    5.433176  12.065186  GALAXY
3      1.237661e+18  200.290475  47.199402  GALAXY
4      1.237671e+18   39.149691  28.102842    STAR
...             ...         ...        ...     ...
99995  1.237679e+18   39.620709  -2.594074  GALAXY
99996  1.237679e+18   29.493819  19.798874  GALAXY
99997  1.237668e+18  224.587407  15.700707  GALAXY
99998  1.237661e+18  212.268621  46.660365  GALAXY
99999  1.237661e+18  196.896053  49.464643  GALAXY

[100000 rows x 4 columns]

### Clean data (if necessary)

In [24]:
int(df.iloc[0]['obj_ID'])

df['obj_ID'] = df['obj_ID'].apply(lambda x: int(x))

In [25]:
df

                    obj_ID       alpha      delta   class
0      1237680272039609088  340.995121  20.589476     QSO
1      1237678858481565952   23.234926  11.418188     QSO
2      1237678858473963520    5.433176  12.065186  GALAXY
3      1237661435386659840  200.290475  47.199402  GALAXY
4      1237670961088167936   39.149691  28.102842    STAR
...                    ...         ...        ...     ...
99995  1237678879964201472   39.620709  -2.594074  GALAXY
99996  1237679476408647936   29.493819  19.798874  GALAXY
99997  1237668298220634368  224.587407  15.700707  GALAXY
99998  1237661151383454208  212.268621  46.660365  GALAXY
99999  1237661151378801152  196.896053  49.464643  GALAXY

[100000 rows x 4 columns]

### Get cropped images (from 4001 until 25000)

In [26]:
ls

natalia_Scrapping stars.ipynb       sebastien_get-large_images.ipynb
natalia_get-cropped-images.ipynb    sebastien_reduce-image-size.ipynb
sebastien_get-cropped-images.ipynb

In [27]:
#params = {
#    'ra': 5.433176,
#    'dec': 12.065186,
#    'scale': 0.099031675,
#    'radius': 0.2,
#    'format': 'json'
#}

In [28]:
images_location = '../../To-infinity-and-beyond-data/data/images_cropped'
logs = '../../To-infinity-and-beyond-data/data/images_cropped_log'

In [29]:
def append_to_log(text):
    timestamp = datetime.today().strftime('%Y-%m-%d')
    log_file = logs + '/' + timestamp + '.log'
    with open(log_file, "a") as myfile:
        myfile.write(text+'\n')

In [30]:
def cropped_image_seb(alpha, delta, object_ID):
    append_to_log(f'processed object_id {object_ID}')
    image_path = f'{images_location}/{object_ID}.jpeg'
    if not os.path.isfile(image_path):
        baseurl = 'https://skyserver.sdss.org/dr18/SkyServerWS/ImgCutout/getjpeg?TaskName=Skyserver.Chart.Navi&scale=0.099031675&radius=0.2&format=json'
        resp = req.get(baseurl, params={'ra': alpha, 'dec': delta})
        f = open(image_path,'wb')
        f.write(resp.content)
        f.close()
        append_to_log(f"downloaded {object_ID}")

In [31]:
for i in range(4001,25001):
    append_to_log(f"processed index {i}")
    cropped_image_seb(df.loc[i]['alpha'],df.loc[i]['delta'],df.loc[i]['obj_ID'])

FileNotFoundError: [Errno 2] No such file or directory: '../../To-infinity-and-beyond-data/data/images_cropped_log/2024-06-04.log'